<!DOCTYPE HTML>
<html>

<head>
    <title>Backbone CRUD</title>

    <!-- LIBS -->

      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

    <!-- STYLES -->

    <link rel="stylesheet" type="text/css" href="styles/app.css"/>

</head>

<body>

    <div class="container">

      <!-- HTML -->

        <!-- app container -->
        <div id="notes"></div>

      <!-- TEMPLATES -->

        <!-- list -->
        <script type="text/html" id="template-list">
          <a href="#/note/new">New</a>
          <h2> List </h2>
          <ul id="notesList">
          <% for(note in notes) { %>
          <li>
          <%= notes[note].title %>
          <a href="#note/<%= notes[note].id %>/view">view</a >
          <a href="#note/<%= notes[note].id %>/edit">edit</a> 
          <a href="#note/<%= notes[note].id %>/delete">remove</a > 
          </li>
          <% } %>
          </ul>
        </script>

        <!-- create -->
        <script type="text/html" id="template-create">
          <a href="#">back</a>
          <h2>New</h2>
          <form id="noteForm">
          <label for="noteName">Name</label>
          <input type="text" id="noteName">
          <button type="button" id="noteFormSubmit">Save</button>
          </form>
        </script>

        <!-- read -->
        <script type="text/html" id="template-read">
          <a href="#">back</a>
          <h2>Read</h2>
          Title: <%= note.get('title') %>
        </script>

        <!-- update -->
        <script type="text/html" id="template-update">
          <a href="#">back</a>
          <h2>Edit</h2>
          <form id="noteForm">
          <label for="noteName">Name</label>
          <input type="text" id="noteName" value="<%= note.get('title') %>">
          <button type="button" id="noteFormSubmit">Save</button>
          </form>
        </script>

    </div>

    <!-- SCRIPTS -->

      <!-- helpers -->
      <script type="text/javascript" src="app/helpers/view_manager.js"></script>

      <!-- routes -->
      <script type="text/javascript" src="app/routers/note.js"></script>

      <!-- views -->
      <script type="text/javascript" src="app/views/404.js"></script>
      <script type="text/javascript" src="app/views/note_list.js"></script>
      <script type="text/javascript" src="app/views/note_create.js"></script>
      <script type="text/javascript" src="app/views/note_read.js"></script>
      <script type="text/javascript" src="app/views/note_update.js"></script>

      <!-- models & collections -->
      <script type="text/javascript" src="app/models/note.js"></script>
      <script type="text/javascript" src="app/collections/notes.js"></script>

      <!-- kick off the app -->
      <script type="text/javascript" src="app/app.js"></script>

</body>


</html>